html
  body
    div
      a(href=backUrl) back
    ul
      each file in files
        li
          a(href=file.href)= file.name
    ul
      each branchName, i in branches.names
        li
          a(href=branches.hrefs[i])= branchName
    ul
      each hash, i in commits.hashes
        li
          a(href=commits.hrefs[i])= hash
    ul
      each message in commits.messages
        li= message
    p= content
    
