html
  body
    div
      a(href=backUrl) back
    ul
      each file in files
        li
          a(href=file.href)= file.name
    ul
      each branch in branches
        li= branch
    ul
      each hash in commits.hashes
        li= hash
    ul
      each message in commits.messages
        li= message
    p= content
    
